{% extends 'index.html' %}

{% block title %}{{title}}{% endblock %}

{% block css %}
    <style>
        .container{
            width: 50%;
            margin: 0 auto;
            margin-top: 100px;
        }
        #id_new_password1, #id_new_password2{
            box-shadow: 0px 0px 0px 0px white;
        }
        #button{
            margin-top: 20px;
            float: right;
        }
        @media only screen and (max-width: 600px){
            .container{
                width: 100%
            }
        }
    </style>
{% endblock css %}

{% block content %}

    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<a class="navbar-brand" href="{% url 'app1:HomePage' %}"><i class="fas fa-home"></i></a>
		<ul class="navbar-nav text-white justify-content-center" style="flex:1;">
			<li class="nav-item" style="color: white;font-size: 20px; text-overflow: ellipsis;">
                Alumni Tracking System - {{heading}}
			</li>
		</ul>
    </nav>

    <div class="text-center" style="position:relative;padding-top:70px;">
        {% for mes in messages %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">x</button>
				{{mes}}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" value="hello" disabled hidden>
            {{form}}
            <button style="box-shadow: 0px 0px 0px 0px white" id="button" class="btn btn-primary" disabled>
                submit
            </button>
        </form>
    </div>

    {% block script %}
    <script type="text/javascript">
        function check1(){
            let pass1 = $("#id_new_password1").val();
            let pass2 = $("#id_new_password2").val();
            if (pass1 === pass2){
                return true;
            }else{
                return false;
            }
        }
        function check_special_char(){
            let pass1 = $("#id_new_password1").val();
            const checking_var= /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
            if (checking_var.test(pass1)){
                $("#check_special").prop("checked", true);
                return true;
            }else{
                $("#check_special").prop("checked", false);
                return false;
            }
        }
        function check_numeric_char(){
            let pass1 = $("#id_new_password1").val();
            const checking_var= /[0123456789]+/;
            if (checking_var.test(pass1)){
                $("#check_number").prop("checked", true);
                return true;
            }else{
                $("#check_number").prop("checked", false);
                return false;
            }
        }
        function pass_strength(){
            let pass1 = $("#id_new_password1").val();
            if (pass1.length > 8){
                $("#check_length").prop("checked", true);
                return true;
            }else{
                $("#check_length").prop("checked", false);
                return false;
            }
        }
        function check(){
            let pass1 = $("#id_new_password1").val();
            if (check1() && check_special_char() && check_numeric_char() && pass_strength()){
                $("#button").attr("disabled", false);
            }else{
                $("#button").attr("disabled", true);
            }
        }
        $(document).ready(function(){
            $('#id_email').on('keyup', function(){
                if($(this).val().indexOf('@gmail.com') > -1){
                    $("#button").attr("disabled", false);
                }else{
                    $("#button").attr("disabled", true);
                }
            });
        });
    </script>
    {% endblock %}
{% endblock content %}